@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F0F10;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    display: block;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-scale {
    display: block;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-1 {
    display: block;
    padding-top: 45px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: block;

}

.navigation {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigation a {
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.navigation a:last-child {
    padding: 0;
}


.reg {
    display: flex;
    align-items: center;
    padding: 17px 53px;
    background-color: #FF8C00;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.section-1-wrap {
    display: flex;
    padding-top: 120px;
}

.section-1-wrap-content {
    width: 50%;
}

.section-1-wrap-content h1 {
    max-width: 605px;
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    line-height: 96px;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 37%, rgba(241,243,124,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*content-list*/
.content-list {
    padding: 35px 0 50px;
}

.content-list .content-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}


.content-list .content-list-item-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #FFFFFF;
}

.content-list .content-list-item-img {
    flex-shrink: 0;
    width: 25.6px;
    height: 25.6px;
}

.content-list-item-img img {
    width: 100%;
}
/*****/

/*content-list--large*/
.content-list.content-list--large {
    padding-top: 64px;
}
.content-list.content-list--large .content-list-item {
    max-width: 600px;
    gap: 42px;
}

.content-list.content-list--large .content-list-item-img {
    width: 33.6px;
    height: 33.6px;
}

.content-list.content-list--large .content-list-item-text {
    font-size: 24px;
    line-height: 42px;
}
/*****/

/*content-list--small*/
.content-list.content-list--small {
    padding: 40px 0 20px;
}
.content-list.content-list--small .content-list-item {
    /*margin-bottom: 15px;*/
    max-width: 230px;
    gap: 18px;
}

.content-list.content-list--small .content-list-item-img {
    width: 16.8px;
    height: 16.8px;
}

.content-list.content-list--small .content-list-item-text {
    font-size: 16px;
}
/*****/


.section-1-wrap-content-btn {
    display: inline-flex;
    padding: 22px 83px;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 47%, rgba(255,168,37,1) 100%);
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.section-1-wrap {
    display: flex;
    justify-content: space-between;
}

.section-1-wrap-img {
    position: relative;
    width: 50%;
}

.section-1-wrap-img-1 {
    display: flex;
    justify-content: center;
}

.section-1-wrap-img-2 {
    display: block;
    position: absolute;
    top: 110px;
    right: -18px;
}

.section-1-wrap-img-3 {
    display: block;
    position: absolute;
    bottom: 160px;
    left: -75px;
}
.section-1-wrap-img-4 {
    display: block;
    position: absolute;
    bottom: 53px;
    right: 53px;
}

.section-2 {
    padding: 96px 0 100px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 37%, rgba(241,243,124,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.section-2-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-2-wrap-item {
    margin: 0 55px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px 17px 52px;
    background-color: #1A1A1A;
}

.section-2-wrap-item-color {
    margin: 0;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 47%, rgba(255,168,37,1) 100%);
}

.section-2-wrap-item.section-2-wrap-item-scale {
    padding: 29px 32px 26px 55px;
    margin: 0 0 36px;
}

.section-2-wrap-item.section-2-wrap-item-scale p {
    font-size: 36px;
    line-height: 90px;
    letter-spacing: 0.5px;
}

.section-2-wrap-item.section-2-wrap-item-scale .section-2-wrap-item-btn {
    padding: 0 57px;
    font-size: 32px;
    line-height: 90px;
}



.section-2-wrap-item-name {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}



.section-2-wrap-item-positive {
    color: #20BF6B;
}

.section-2-wrap-item-negative {
    color: #ED4C5C;
}


.section-2-wrap-item-btn {
    padding: 14px 33px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #1C1C1C;
}

.section-3 {
    padding: 150px 0 100px;
}

.section-3-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-3-wrap-content h2 {
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 37%, rgba(241,243,124,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4 {
    padding: 150px 0 100px;
}

.section-4-wrap {
    display: flex;
    justify-content: space-evenly;
}

.section-4-wrap-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    background-color: #202020;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 37px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.card-price {
    display: inline-flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.card-price .sup {
    align-self: flex-start;
    line-height: 35px;
    font-size: 24px;
    font-weight: 700;
}

.card-price .sub {
    align-self: end;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}

.card-btn {
    padding: 16px 72px;
    margin-top: auto;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.section-4-wrap-card.section-4-wrap-card-premium {
    background-color: #060202;
}

.card-btn-premium {
    padding: 2px;
    margin-top: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255,129,74,1) 0%, rgba(255,168,37,1) 47%, rgba(255,168,37,1) 100%);
}

.card-btn-premium .card-btn {
    background-color: #060202;
    border: none;
}

.footer {
    padding: 200px 0 90px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-item-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-item-left:last-child {
    gap: 0;
}

.footer-logo {
    width: 100%;
    margin-bottom: 12px;
}

.footer-item-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*.footer-item-right:last-child {*/
/*    gap: 0;*/
/*}*/

.footer-item-right p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
}

.footer-item {
    display: flex;
    gap: 24px;
}

.footer-item a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
}

.footer-item p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.footer-item-img {
    width: 100%;
}




